<!DOCTYPE html>

<!-- Everything before <html> tag is used to beautify the webpage. You can copy it to your website without changing it for the same effect. -->

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Форма</title>
</head>

<body>
<div class="jumbotron">
<center>
	<form>
		<div class="container" style="background-color: #00a61e;">
			<br><br>
		</div>
		<label>Какой это цвет? <input type="text" class="form-control" name="green"></label><br>
		<div class="container" style="background-color: #01a662;">
			<br><br>
		</div>
		<label>Какой это цвет? <input type="text" class="form-control" name="grue"></label><br>
		<div class="container" style="background-color: #00a4b8;">
			<br><br>
		</div>
		<label>Какой это цвет? <input type="text" class="form-control" name="blue"></label><br>
		<label>e-mail: <input type="text" class="form-control" name="mail"></label><br>
		<label> Ваш пол:
		<div>
			<input type="radio" class="form-check-input" id="male" name="sex" value="male">
			<label for="male" class="form-check-label">Мужской</label>
		</div>
		<div>
			<input type="radio" class="form-check-input" checked id="female" name="sex" value="female">
			<label for="female" class="form-check-label">Женский</label>
		</div>
		</label><br>
		<input class="btn btn-primary" type="submit" value="Отправить">
	</form>
</center>
</div>
</body>

</html>